<?php

error_reporting(E_ALL);

$conn = new PDO('mysql:dbname=test;host=192.168.66.237', 'root', '');
$sql = 'SELECT name FROM fruits';
$stmt = $conn->prepare($sql);
$stmt->execute();
$results = $stmt->fetchAll();

echo "PHP is working. :)<hr />";

echo(file_get_contents("serverBanner.txt"));

echo '<hr />';

foreach ($results as $row) {
	echo 'fruit: ' . $row['name'] . '<br />';
}

echo '<br /><br />All done.<br />';

?>
